@import 'base/fonts';
@import "blocks/title";

* {
  font-family: 'Corsa Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  max-width: 1664px;
  width: 81.29%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.br {
  display: none;
}


@import "blocks/basicServices";
@import "blocks/video";
@import "blocks/choice";
@import "blocks/dopService";
@import "blocks/workWith";
@import "blocks/footer";
@import "blocks/sale";
@import "blocks/reviews";
@import "blocks/header";
@import "blocks/about";
@import "blocks/ourWorks";
@import "blocks/first";
@import "blocks/formConnection";
@import "blocks/survey";
@import "blocks/modal";
@import 'media/general';