@media (max-width:1840px) {
  .basic_services{
    &_wrapper{
      &_blocks{
        width: 100%;
        &_inf{
          &_text{
            padding: 0.7vw 1vw  0.9vw;
            &_btn{
              height: 70px;
              width: 70px;
            }
          }
          &_price{
            width: 7.5vw;
            height: 2vw;
            top: 27px;
            left: 34px;
          }
        }
      }
    }
  }
}
@media (max-width:1600px) {
  .basic_services{
    &_wrapper{
      &_blocks{
        width: 100%;
        &_inf{
          &_text{
            padding: 0.7vw 1vw  0.9vw;
            &_btn{
              height: 65px;
              width: 65px;
            }
          }
          &_price{
            width: 7.5vw;
            height: 2vw;
            top: 27px;
            left: 34px;
          }
        }
      }
    }
  }
}
@media (max-width:1480px) {
  .basic_services{
    &_wrapper{
      &_blocks{
        width: 100%;
        &_inf{
          &_text{
            padding: 0.7vw 1vw  0.9vw;
            &_btn{
              height: 50px;
              width: 50px;
            }
          }
          &_price{
            width: 9.5vw;
            height: 3vw;
            top: 27px;
            left: 34px;
          }
        }
      }
    }
  }
}
@media (max-width: 1320px) {
  .basic_services{
    &_wrapper{
      &_blocks{
        &_inf{
          &_text{
            &_btn{
              height: 5.1vw;
              width: 5.1vw;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .basic_services{
    &_wrapper{
      &_blocks{
        width: 100%;
        &_inf{
          &_text{
            padding: 0.7vw 1vw  0.9vw;
            &_btn{
              height: 45px;
              width: 45px;
            }
          }
          &_price{
            width: 10.5vw;
            height: 3vw;
            top: 27px;
            left: 34px;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .basic_services{
    margin-top: 21px;
    &_wrapper{
      gap: 21px;
      .title_64{
        text-align: center;
        width: 80%;
      }
      &_blocks{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
        &_inf{
          &_text{
            display: flex;
            align-items: flex-end;
            padding: 13px 20px 20px;
            justify-content: space-between;

            &_btn{
              background-image: url("../../img/basic_services/btn3.svg");
              background-repeat: no-repeat;
              background-size: cover;
              height: 44px;
              width: 44px;
            }
            &_btn:hover{
              animation: swing step-end;
            }
            &_text{
              width: 80%;
              gap: 2px;
            }

          }
          &_price{
            top: 16px;
            left: 16px;
            border-radius: 30px;
            width: 123px;
            height: 31px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .basic_services{
    margin-top: 21px;
    &_wrapper{
      gap: 21px;
      .title_64{
        text-align: center;
        width: 80%;
      }
      &_blocks{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
        &_inf{
          &_text{
            display: flex;
            align-items: flex-start;
            padding: 13px 10px 10px;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            width: 94%;
            &_btn{
              background-image: url("../../img/basic_services/btn3.svg");
              background-repeat: no-repeat;
              background-size: cover;
              height: 44px;
              width: 44px;
              position: relative;
              right: -85%;
            }
            &_btn:hover{
              animation: swing step-end;
            }
            &_text{
              width: 80%;
              gap: 2px;
            }

          }
          &_price{
            top: 16px;
            left: 16px;
            border-radius: 30px;
            width: 123px;
            height: 31px;
            font-size: 14px;
          }
        }
      }
    }
  }
}