@media (max-width:1750px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width: 1350px) {
  .dopService{
    margin-top: 130px;
    &_wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      &_inf{
        &_img{
          display: flex;
          flex-direction: column;
          position: relative;
          &_1{
            position: absolute;
            width: 70%;
            top: 18%;
            right: -18%;
          }
          &_2{
            position: absolute;
            width: 50%;
            top: 0;
          }
          &_3{
            position: absolute;
            width: 63%;
            top: 49%;
          }
          &_4{
            position: absolute;
            width: 36%;
            right: -8%;
            top: 68%;
          }
          &_5{
            bottom: 0;
            right: 0;
            width: 86%;
            position: absolute;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .dopService{
    margin-top: 50px;
    &_wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      &_inf{
        width: 100%;
        display: flex;
        &_img{
          display: none;
        }
        &_text{
          &_line1{
            &_text{
              grid-template-columns: 67% 32%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}