@media (max-width: 992px) {
  .footer{
    &_wrapper{
      span{
        font-size: 10px;
      }
      &_svg{
        align-items: center;
        span{
          font-size: 10px;
        }
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}