@import "title";
@import "basicServices";
@import "video";
@import "workWith";
@import "footer";
@import "reviews";
@import "header";
@import "about";
@import "sale";
@import "dopService";
@import "choice";
.hide {
  display: none;
}
.show {
  display: block;
}
.flex {
  display: flex;
}
.trans-5 {
  transition: 0.5s all;
}
