.choice{
  margin-top: 120px;
  &_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 70px;
    &_text{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      img{
        width: 65%;
      }
      &_block{
        display: flex;
        flex-direction: column;
        width: 30%;
        border: 2px solid #4c4c4c;
        border-radius: 50px;
        padding: 20px;
      }
    }
  }
}
.block1{
  position: absolute;
  left: 0;
}
.block2{
  position: absolute;
  top: 30%;
  left: 0;
}
.block3{
  position: absolute;
  top: 60%;
  left: 0;
}
.block4{
  position: absolute;
  bottom: -25%;
  left: 15%;
}
.block5{
  position: absolute;
  bottom: -25%;
  right: 15%;
}
.block6{
  position: absolute;
  top: 60%;
  right: 0;
}
.block7{
  position: absolute;
  top: 30%;
  right: 0;
}
.block8{
  position: absolute;
  right: 0;
}