.dopService{
  margin-top: 130px;
  &_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    &_inf{
      width: 100%;
      display: grid;
      grid-template-columns: 65% 34%;
      &_text{
        display: flex;
        flex-direction: column;
        gap: 50px;
        &_line1{
          display: flex;
          flex-direction: column;
          gap: 15px;
          &_text{
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
            background: #fff;
            border-radius: 50px;
            padding: 10px 20px;
            display: grid;
            grid-template-columns: 80% 20%;
            align-items: center;
            justify-content: space-around;
            justify-items: start;
            &_color{
              line-height: 125%;
              font-weight: 700;
              background: linear-gradient(143deg, #2073ef 0%, #003882 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
        &_line2{
          display: flex;
          flex-direction: column;
          gap: 25px;
          &_text{
            display: flex;
            justify-content: space-between;
            padding: 0 20px 0 10px;
            div{
              display: flex;
              gap: 25px;
            }
          }
          &_table{
            display: flex;
            flex-direction: column;
            gap: 15px;
            &_text{
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
              background: #fff;
              border-radius: 50px;
              padding: 10px 20px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &_color{
                display: flex;
                gap: 15px;
              }
            }
          }
        }
      }
      &_img{
        display: flex;
        flex-direction: column;
        position: relative;
        &_1{
          position: absolute;
          width: 60%;
          top: 10%;
          right: -18%;
        }
        &_2{
          position: absolute;
          width: 45%;
          top: 0;
        }
        &_3{
          position: absolute;
          width: 55%;
          top: 45%;
        }
        &_4{
          position: absolute;
          width: 25%;
          right: -8%;
          top: 60%;
        }
        &_5{
          bottom: 0;
          right: 0;
          width: 75%;
          position: absolute;
        }
      }
    }
  }
}

.follow {
  animation: follow 10s;
}

@keyframes follow {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.follow2 {
  animation: follow2 12s;
}

@keyframes follow2 {
  0% {
    display: none;
  }
  5% {
    display: block;
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.follow3 {
  animation: follow3 14s;
}

@keyframes follow3 {
  0% {
    display: none;
  }
  10% {
    display: block;
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.follow4 {
  animation: follow4 16s;
}

@keyframes follow4 {
  0% {
    display: none;
  }
  15% {
    display: block;
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.follow5 {
  animation: follow5 25s;
}

@keyframes follow5 {
  0% {
    display: none;
  }
  20% {
    display: block;
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}