.footer{
  background: #000;
  margin-top: 50px;
  &_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    &_text{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      span{
        text-align: start;
        color: #ffffff;
        font-size: 16px;
      }
    }
    &_span{
      color: #ffffff;
      font-size: 16px;
      text-align: center;
    }
    span{
      color: #ffffff;
    }
    &_svg{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 23px 0 10px;
      cursor: pointer;
    }
  }
}