.formConnection{
  margin-top: 120px;
  &_wrapper{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    .formConnection_form{
      width: 65%;
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      &_title{
        font-size: 48px;
      }
      &_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 65%;
        &_chek{
          display: flex;
          gap: 10px;
          flex-direction: row-reverse;
        }
        &_soc{
          display: flex;
          gap: 25px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.7s;
          a:hover{
            transform: scale(1.1);
            transition: 0.7s;
          }
        }
        button{
          background: linear-gradient(143deg, #2073ef 0%, #003882 100%);
          border-radius: 50px;
          width: 100%;
          height: 99px;
          color: #fff;
          font-weight: 400;
        }


        .text-field__input[type="search"]::-webkit-search-decoration,
        .text-field__input[type="search"]::-webkit-search-cancel-button,
        .text-field__input[type="search"]::-webkit-search-results-button,
        .text-field__input[type="search"]::-webkit-search-results-decoration {
          -webkit-appearance: none;
        }

        .text-field__input::placeholder {
          color: #212529;
          opacity: 0.4;
        }

        .text-field__input:focus {
          color: #212529;
          background-color: #fff;
          border-color: #bdbdbd;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
        }

        .text-field__input:disabled,
        .text-field__input[readonly] {
          background-color: #f5f5f5;
          opacity: 1;
        }

        /* with floating label */
        .text-field_floating-3 {
          position: relative;
          width: 100%;
        }

        .text-field_floating-3 .text-field__input {
          border: none;
          border-bottom: 1px solid #bdbdbd;
          line-height: 1.25;
          background: #e5e5e5;
          border-radius: 60px;
          width: calc(100% - 20px);
          height: 73px;
          padding: 0 10px;
        }

        .text-field_floating-3 .text-field__input:focus {
          outline: 0;
          border-bottom: 1px solid #03a9f4;
          box-shadow: none;
          background-color: #e5e5e5;
          padding: 0 10px;
        }

        .text-field_floating-3 .text-field__label {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          padding: 1rem .75rem;
          pointer-events: none;
          border: 1px solid transparent;
          transform-origin: 0 0;
          transition: color .15s ease-in-out, transform .15s ease-in-out;
        }

        .text-field_floating-3 .text-field__input::-moz-placeholder {
          color: transparent;
        }

        .text-field_floating-3 .text-field__input::placeholder {
          color: transparent;
        }

        .text-field_floating-3 .text-field__input:focus,
        .text-field_floating-3 .text-field__input:not(:placeholder-shown) {

          border-bottom: 1px solid #03a9f4;
        }

        .text-field_floating-3 .text-field__input:focus~.text-field__label,
        .text-field_floating-3 .text-field__input:not(:placeholder-shown)~.text-field__label {
          transform: scale(.85) translateY(-.75rem) translateX(1.15rem);
          color: #03a9f4;
        }
      }
    }
    &_img{
      width: 49%;
      bottom: 0;
      position: absolute;
      left: -6%;
    }
  }
}