.header{
  &_wrapper{
    display: flex;
    justify-content: space-between;
    &_logo{
      width: 10%;
    }
    &_metla{
      width: 14%;
      height: 120px;
    }
    &_soc{
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.7s;
      a:hover{
        transform: scale(1.1);
        transition: 0.7s;
      }
    }
    &_mail{
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.7s;
      &_img{
        width: 20%;
      }
      a{
        margin-bottom: 10px;
      }
      a:hover{
        color: #3b5998;
        transition: 0.7s;
      }
    }
  }
}
.header_wrapper_soc_dop{
  display: none;
}