.title {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  &_14 {
    font-size: 14px;
  }
  &_20 {
    font-size: 20px;
  }
  &_28 {
    font-size: 28px;
  }
  &_32 {
    font-size: 32px;
  }
  &_36 {
    font-size: 36px;
  }
  &_40 {
    font-size: 40px;
  }
  &_64 {
    font-size: 64px;
  }
  &_75 {
    font-size: 75px;
  }
  &_96 {
    font-size: 96px;
  }
  &_128 {
    font-size: 128px;
  }
}

.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}